<div class="card">
  <div class="card-body">
    <h4>{{congress.employee_name}}, {{congress.employee_email}}, participates in congressional hearing with {{congress.rep_committee}}</h4>
    <div>Office: {{congress.office_id}}</div>
    <br>
    <p>Description: {{congress.desc}}</p>
  </div>
</div> 

