<div class="card">
  <div class="card-body">
    
    <h3 class="card-title">{{this.employee_name}} meets with {{this.rep_committee}}</h3>
    <h3 class="card-title">Office: {{this.office.abbreviation}}</h3>
    <br>

    <h3 class="card-title">Description:</h3><p>{{this.desc}}</p>

    <h3 class="card-title">Employee:</h3><p>{{this.employee_name}} ({{this.employee_email}})</p>
  </div>
</div> 