<div class="card">
  <div class="card-body">
    <h4> Interaction with {{forTheRecord.note}} ({{forTheRecord.office_id}})</h4>
    <br>
    <p>Description: {{forTheRecord.desc}}
    <br>
    <p>Employee: {{forTheRecord.employee_name}}, {{forTheRecord.employee_email}}</p>
  </div>
</div> 

