<div class="card">
  <div class="card-body">
    <h4>{{this.mtg_ach}} ({{this.office_id}})</h4>
    <br>
    <p>Description: {{this.desc}}
    <br>
    <p>Employee: {{this.employee_name}}, {{this.employee_email}}
  </div>
</div> 

