<div class="card">
  <div class="card-body">
    <h4>{{meeting.mtg_ach}} ({{meeting.office_id}})</h4>
    <br>
    <p>Description: {{meeting.desc}}
    <br>
    <p>Employee: {{meeting.employee_name}}, {{meeting.employee_email}}
  </div>
</div> 

