<div class="card">
  <div class="card-body">
   
   <div><h3 class="card-title">{{this.mtg_ach}} ({{this.office.abbreviation}})</h3></div>
   <br>
    
    <div><h3 class="card-title">Description:</h3>
    <p>{{this.desc}}</p></div>
    
    <div><h3 class="card-title">Employee</h3> 
    <p>{{this.employee_name}} ({{this.employee_email}})</p></div>
    
  </div>
</div> 

