<div class="card">
  <div class="card-body">
    <h4> Publication:{{publication.pub_name}} ({{publication.office_id}})</h4>
    <div>Title: {{publication.title}}</div>
    <br>
    <p>Description: {{publication.desc}} 
    <br>
    <p>Employee: {{publication.employee_name}}, {{publication.employee_email}}</p>
    <div>Authors: {{publication.authors}}</div>
  </div>
</div> 