<div class="card">
  <div class="card-body">
    <h4> Publication: {{this.pub_name}} ({{this.office.abbreviation}})</h4>
    <div>Title: {{this.title}}</div>
    <br>
    <p>Description: {{this.desc}} 
    <br>
    <p>Employee: {{this.employee_name}}, {{this.employee_email}}</p>
    <div>Authors: {{this.authors}}</div>
  </div>
</div> 
