<div class="card">
  <div class="card-body">
    <h4>Journal Article in {{publication.pub_name}} ({{publication.office_id}})</h4>
    <p>{{publication.desc}} {{publication.employee_name}} {{publication.employee_name}}, {{publication.employee_email}}</p>
    <div>Title: {{publication.title}}</div>
    <div>Authors: {{publication.authors}}</div>
  </div>
</div> 