{{#if loggedIn}}
<section>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Publication: {{publication.pub_name}}</h4>
            <h6 class="card-subtitle text-muted">Article Title: {{publication.article_title}}</h6>
            <h6 class="card-subtitle text-muted">Author: {{publication.author_name}}</h6>
            <h6 class="card-subtitle text-muted">Date Published: {{publication.pub_date}}</h6>
            <h6 class="card-subtitle text-muted">Contributors: {{publication.other_contrib}}</h6>
            <h6 class="card-subtitle text-muted">Key Words: {{publication.keywords}}</h6>
        </div>
    </div>
</section>
{{else}}
<a href="/login">You must login in order to search this criteria!</a>
{{/if}}