<tr>
    <th scope="row"></th>
    <td>{{article_title}}</td>
    <td>{{name}}</td>
    {{#if other_contrib}}
    <td>{{other_contrib}}</td>
    {{/if}}
    <td>{{pub_name}}</td>
    <td>{{pub_date}}</td>
</tr>